<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="FacesheetParser.Properties.Settings.dmdtestConnectionString"
		connectionString="Data Source=DMDENTAL04;Initial Catalog=dmdtest;Integrated Security=True"
		providerName="System.Data.SqlClient" />-->
		<add name="FacesheetParser.Properties.Settings.dmdtestConnectionString"
			connectionString="Data Source=108.60.212.23;Initial Catalog=dmdtest;Persist Security Info=True;User ID=sa;Password=Vivatime10!"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>